<h1>Doses#new</h1>
<p><%= link_to "Go back", cocktails_path %></p>
<ul>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <li>
    <%= f.input :description %>
    <%= f.input :ingredient_id, collection: Ingredient.all %>
    <%= f.button :submit %>
  </li>
  <% end %>
</ul>
